{% extends 'base.html' %}
{% block title %}
    Trades
{% endblock %}
{% block content %}
    <div class="row m-1">
        <div class="col-8">
            <h2>
                Available trades
            </h2>
            <table class="table table-hover table-dark">
                <thead>
                <tr>
                    <th scope="col">Symbol</th>
                    <th scope="col">Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col" colspan="2">Difference</th>
                </tr>
                </thead>
                <tbody>
                {% for trade in trades %}
                    {% include 'includes/modal_form_buy.html' %}
                    <tr class="first-level-table-row center center-block">
                        <td>{{ trade.symbol }}</td>
                        <td>{{ trade.name }}</td>
                        <td>{{ trade.available_quantity }}</td>
                        <td class="money-info">{{ trade.current_price }}</td>
                        <td class="plain-difference">{{ trade.plain_difference }}</td>
                        <td class="percent-difference">{{ trade.percent_difference }}</td>
                        <td>
                            <div class="btn-group">
                                <button class="btn btn-outline btn-info">
                                    Details TODO
                                </button>
                                <button class="btn btn-outline btn-success ml-2" data-toggle="modal"
                                        data-target="#modal-buy-trades-{{ trade.symbol }}">
                                    Buy
                                </button>
                            </div>

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-4">
            <h2>
                Owned trades
            </h2>
            <table class="table table-hover table-dark">
                <thead>
                <tr>
                    <th scope="col">Symbol</th>
                    <th scope="col">Quantity</th>
                </tr>
                </thead>
                <tbody>
                {% for trade in user_trades %}
                    {% include 'includes/modal_form_sell.html' %}
                    <tr class="first-level-table-row center center-block">
                        <td>{{ trade.symbol }}</td>
                        <td>{{ trade.currently_acquired }}</td>
                        <td>
                            <div class="btn-group">
                                <button class="btn btn-outline btn-info">
                                    Details TODO
                                </button>
                                <button class="btn btn-outline btn-success ml-2" data-toggle="modal"
                                        data-target="#modal-sell-trades-{{ trade.symbol }}">
                                    Sell
                                </button>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
