__pycache__/
*.pyc
*.pyo
*.pyd
.coverage.*
.coverage
coverage.xml
*.cover
*.log
celerybeat-schedule
celerybeat.pid
.git/
.mypy_cache/
.pytest_cache/
.tests_reports/
.idea/
.Python/
.coverage/
.cache/
